{% extends 'base.html.twig' %}

{% block title %}valider ma commande{% endblock %}

{% block body %}

<div class="container">
    <h2>Valider ma commande</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {# form choose carrier #}
            {% set formHtml %}
                {{ form_start(form, {action:path('app_order_summary')}) }}
                {{ form_end(form) }}
            {% endset %}
            {{ formHtml|replace({'[br]' : '<br>'})|raw}}
        </div>
        <div class="col-md-6">
            <h4>Recap de ma commande</h4>
            {% set total = null %}
             <table class="table">
                {% for item in cart %}
                        <tr>
                            <th scope="row">
                                <img src="uploads/{{item.product.illustration}}" alt="{{ item.product.name }}" height="60px">
                            </th>
                            <th>{{item.quantity}} {{item.product.name}}</th>
                            <td>{{ ((item.quantity * item.product.price) / 100) | number_format(2, ',', '.')}} €</td>
                        </tr>
                    {% set total = total + (item.quantity * item.product.price) %}
                {% endfor %}
            </table>
            <div class='text-end'>
                Nombre de produits : {{cart|length}}<br>
                <b>Total de votre panier : {{ (total / 100) | number_format(2, ',', '.')}} €</b><br><br>
                <a href="{{ path('app_cart')}}" class="btn btn-info">modifier mon panier</a>
            </div>

            <br>
            <b>bouton pour payer</b>
        </div>
    </div>

</div>

{% endblock %}
